body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color:white;
    background: rgb(131, 58, 180);
    background: linear-gradient(
      90deg,
      rgba(131, 58, 180, 1) 0%,
      rgba(202, 41, 92, 1) 29%,
      rgba(224, 25, 63, 1) 36%,
      rgba(226, 35, 62, 1) 39%,
      rgba(241, 32, 44, 1) 45%,
      rgba(253, 29, 29, 1) 50%,
      rgba(253, 41, 32, 1) 54%,
      rgba(253, 56, 36, 1) 59%,
      rgba(253, 74, 41, 1) 65%,
      rgba(252, 176, 69, 1) 100%
    );
    position: relative;
  }
  
  h1 {
    position: relative;
    top: 20px;
    bottom: 30px;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 3em;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .calculator {
    width: 300px;
    height: 71%;
    margin-top: 20px;
    background: rgb(80, 80, 80);
  
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  #display {
    width: 93%;
    border-radius: 15px;
    height: 50px;
    font-size: 1.5em;
    text-align: right;
    padding: 10px;
    border: none;
    background: #eee;
    margin-bottom: 25px;
  }
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  button:hover {
    background-color: rgb(255, 174, 0);
  }
  button {
    padding: 15px;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background: #ddd;
  }
  button:active {
    background: #bbb;
  }
  .operator {
    background: orange;
    color: white;
  }
  